@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Oswald:wght@300;400;600&display=swap");

body { 
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(232, 228, 225);
    }

/* NAV BAR STYLES */
.topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2; /* Set a higher z-index */
    overflow: hidden;
    width: 100%;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.left-nav, .center-nav, .right-nav {
    display: flex;
    align-items: center;
}

.center-nav {
    display: flex;
    flex-direction: column; /* Display links in a column */
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
}

.center-nav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 17px;
}

.profile-photo {
    width: 40px;
    height: 40px;
    background-color: #ddd; /* Placeholder color */
    border-radius: 50%;
    margin: 10px;
}

.search-bar {
    margin-right: 10px;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 1000px) {
    .center-nav {
        display: none;
    }

    .topnav.responsive .center-nav {
        display: flex;
    }
}





.index-header {
    width: 100%;
    height: 45vh;
    position: relative;
    z-index: 1; /* Set a lower z-index */
}

.title-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
}





/* Content Carousel Styles */
.content-carousel {
    display: flex;
    overflow: hidden;
    margin-top: 20px;
}

.carousel-item {
    flex: 0 0 25%; /* Display 4 items at a time */
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    margin-right: 20px;
}

/* Recent Articles Styles */
.recent-articles {
    position: fixed;
    top: 20%;
    right: 5%;
}

.article {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 1000px) {
    .content-carousel {
        flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    }

    .carousel-item {
        flex: 0 0 48%; /* Display 2 items at a time on smaller screens */
        margin-bottom: 20px;
    }

    .recent-articles {
        position: static; /* Reset position for smaller screens */
        margin-top: 20px;
    }

    .article {
        width: 100%; /* Make articles full-width on smaller screens */
    }
}

